// Angular Animations
.fade-in-out.ng-move,
.fade-in-out.ng-enter,
.fade-in-out.ng-leave{
  -webkit-transition:all ease 0.5s;
          transition:all ease 0.5s;
}

.fade-in-out.ng-leave.ng-leave-active,
.fade-in-out.ng-move,
.fade-in-out.ng-enter {
  opacity:0;
}

.fade-in-out.ng-leave,
.fade-in-out.ng-move.ng-move-active,
.fade-in-out.ng-enter.ng-enter-active {
  opacity:1;
}

.search-form.ng-move,
.search-form.ng-enter,
.search-form.ng-leave{
  -webkit-transition:all ease 0.3s;
          transition:all ease 0.3s;
}

.fade-in-out-delay.ng-enter{
  opacity:0;
  -webkit-animation: fadeInOutDelay .3s ease;
     -moz-animation: fadeInOutDelay .3s ease;
       -o-animation: fadeInOutDelay .3s ease;
          animation: fadeInOutDelay .3s ease;
      -webkit-animation-delay: .2s;
         -moz-animation-delay: .2s;
           -o-animation-delay: .2s;
              animation-delay: .2s;
}

@keyframes fadeInOutDelay{
  from{opacity:0}
  to{opacity:1}
}

.search-form.ng-leave.ng-leave-active,
.search-form.ng-move,
.search-form.ng-enter {
  opacity:0;
}

.search-form.ng-leave,
.search-form.ng-move.ng-move-active,
.search-form.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:45px;
}

.animate-repeat-chats.ng-move,
.animate-repeat-chats.ng-enter,
.animate-repeat-chats.ng-leave {
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.animate-repeat-chats.ng-leave.ng-leave-active,
.animate-repeat-chats.ng-move,
.animate-repeat-chats.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat-chats.ng-leave,
.animate-repeat-chats.ng-move.ng-move-active,
.animate-repeat-chats.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.open-users-panel.ng-enter,
.open-users-panel.ng-leave{
  -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
      -ms-transition: .5s all ease;
       -o-transition: .5s all ease;
          transition: .5s all ease;
  position: fixed;  
}

.open-users-panel.ng-leave.ng-leave-active,
.open-users-panel.ng-enter{
  left:-200px
}

.open-users-panel.ng-enter.ng-enter-active,
.open-users-panel.ng-leave{
  left:5px
}

.chat-body.ng-enter{
-webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
  overflow: hidden;
  opacity:0;
  max-height:0;
}
.chat-body.ng-leave {
-webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
  overflow: hidden;
  opacity:1;
  max-height:398px;
}

.chat-body.ng-enter.ng-enter-active {
  opacity:1;
  max-height:398px;
}

.chat-body.ng-leave.ng-leave-active {
  opacity:0;
  max-height:0;
}

.touch{
  .chat-body.ng-enter{
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
       -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
          transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    overflow: hidden;
    opacity:0;
    max-height:0;
  }
  .chat-body.ng-leave {
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
       -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
          transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    overflow: hidden;
    opacity:1;
    max-height:341px;
  }

  .chat-body.ng-enter.ng-enter-active {
    opacity:1;
    max-height:341px;
  }

  .chat-body.ng-leave.ng-leave-active {
    opacity:0;
    max-height:0;
  }
}

.content-block.ng-enter, .content-block.ng-leave {
  -webkit-transition:0.3s ease all;
          transition:0.3s ease all;
  position:absolute;
  left:0;
  right:-17px;
}

.touch .content-block.ng-enter, 
.touch .content-block.ng-leave{
  right: 0;
}

.content-block.ng-enter {
  z-index:100;
  opacity:0;
}
.content-block.ng-enter.ng-enter-active {
  opacity:1;
}

.content-block.ng-leave {
  z-index:101;
  opacity:1;
}
.content-block.ng-leave.ng-leave-active {
  opacity:0;
}

//Web Animations
// @keyframes fade-left-top{
//   0%{
//     z-index: 12;
//   }
//   10%{
//     opacity:.15;
//     z-index: 11;
//   }
//   20%{
//     height:600px;
//     width:1200px;
//     z-index: 10;
//   }
//   30%{
//     z-index: 9;
//   }
//   40%{
//     height:900px;
//     width:450px;
//     z-index: 8;
//   }
//   50%{
//     z-index: 7;
//   }
//   60%{
//     height:300px;
//     width:600px;
//     z-index: 6;
//   }
//   70%{
//     z-index: 5;
//   }
//   80%{
//     height:300px;
//     width:150px;
//     z-index: 4;
//   }
//   90%{
//     z-index: 3;
//   }
//   100%{
//     z-index: 2;
//     width:0;
//     height:0;
//     opacity:0;
//     left:100%;
//     top:-10%;
//   }
// }
// @keyframes fade-left-bot{
//   0%{
//     z-index: 12;
//   }
//   10%{
//     opacity:.15;
//     z-index: 11;
//   }
//   20%{
//     height:600px;
//     width:1200px;
//     z-index: 10;
//   }
//   30%{
//     z-index: 9;
//   }
//   40%{
//     height:900px;
//     width:450px;
//     z-index: 8;
//   }
//   50%{
//     z-index: 7;
//   }
//   60%{
//     height:300px;
//     width:600px;
//     z-index: 6;
//   }
//   70%{
//     z-index: 5;
//   }
//   80%{
//     height:300px;
//     width:150px;
//     z-index: 4;
//   }
//   90%{
//     z-index: 3;
//   }
//   100%{
//     z-index: 2;
//     width:0;
//     height:0;
//     opacity:0;
//     left:100%;
//     bottom:-10%;
//   }
// }
// @keyframes fade-right-top{
//   0%{
//     z-index: 12;
//   }
//   10%{
//     opacity:.15;
//     z-index: 11;
//   }
//   20%{
//     height:600px;
//     width:1200px;
//     z-index: 10;
//   }
//   30%{
//     z-index: 9;
//   }
//   40%{
//     height:900px;
//     width:450px;
//     z-index: 8;
//   }
//   50%{
//     z-index: 7;
//   }
//   60%{
//     height:300px;
//     width:600px;
//     z-index: 6;
//   }
//   70%{
//     z-index: 5;
//   }
//   80%{
//     height:300px;
//     width:150px;
//     z-index: 4;
//   }
//   90%{
//     z-index: 3;
//   }
//   100%{
//     z-index: 2;
//     width:0;
//     height:0;
//     opacity:0;
//     right:100%;
//     top:-10%;
//   }
// }
// @keyframes fade-right-bot{
//   0%{
//     z-index: 12;
//   }
//   10%{
//     opacity:.15;
//     z-index: 11;
//   }
//   20%{
//     height:600px;
//     width:1200px;
//     z-index: 10;
//   }
//   30%{
//     z-index: 9;
//   }
//   40%{
//     height:900px;
//     width:450px;
//     z-index: 8;
//   }
//   50%{
//     z-index: 7;
//   }
//   60%{
//     height:300px;
//     width:600px;
//     z-index: 6;
//   }
//   70%{
//     z-index: 5;
//   }
//   80%{
//     height:300px;
//     width:150px;
//     z-index: 4;
//   }
//   90%{
//     z-index: 3;
//   }
//   100%{
//     z-index: 2;
//     width:0;
//     height:0;
//     opacity:0;
//     right:100%;
//     bottom:-10%;
//   }
// }
