.titlebar{
	padding:9px 18px;
	line-height: 44px;
	margin-bottom: 3px;
	p{
		font-size:24px;
		margin:0;
		color:#333;
	}
}

.game-block{
	padding:9px 18px;
	.game-title{
		float:left;
		margin: 7px 10px 0 0;
	}
	.gameroom{
		width:100%;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		padding:15px 0;
		position: relative;
	}
	.join-game{
		color: white;
		font-size:20px;
		background-color: $right-panel-color;
		position: absolute;
		right:0;
		bottom: 51%;
		padding:5px 10px;
		cursor: pointer;
		-webkit-transform: translateY(50%);
		   -moz-transform: translateY(50%);
		    -ms-transform: translateY(50%);
		     -o-transform: translateY(50%);
		        transform: translateY(50%);
	}
}
