
#brand{
  width: 299px;
  position: absolute;
  right: 6px;
  top: 6px;
  text-align: center;
  z-index: 21;
  padding: 3px 0 12px;
  height: 64px;
  transition: all .3s ease;
  background-color: white;
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
  a{
    padding:8px 74px;
    color:$right-panel-color;
    font-size: 37px;
    line-height: 55px;
    padding: 7px 76px 10px;
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
    &:hover{
      color:$right-panel-hover;
    }
  }
  &:hover{
    @include card(1);
  }
}

#logo-mobile{
  display: none;
}

#touch-login{
  display: none;
}

#gamedash{
  -webkit-border-radius: 10px 0 0 0;
          border-radius: 10px 0 0 0;
  height:62px;
  width:200px;
}

/* Custom page header */
#header {
  /* Make the masthead heading the same height as the navigation */
  li {
    text-align: center;
    list-style:none;
  }

  li a{
    cursor:pointer;
    position: absolute;
    left: 5px;
    width:200px;
    padding-top: 13px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  a{
    color:white;
  	font-size: 24px;
    -webkit-transition: color .3s;
       -moz-transition: color .3s;
        -ms-transition: color .3s;
         -o-transition: color .3s;
            transition: color .3s;
  }
  a:hover{
    color:#000;
  }
  .cp-small-link{
    padding-top: 5px;
    width:98px;
    font-size: 15px;
    height:36px;
  }
}

#touch-users-toggle{
  display: none;  
}

#touch-chats-toggle{
  display: none;  
}

#touch-users-logout{
  display: none;
}