
.touch{
// **************** NAVIGATION **************** //
	body{
		background-color: #333;
		background-image: url('../images/mrks_bckg.png');
		background-attachment: fixed;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-blend-mode:multiply;
		background-position: center center;
		background-repeat: no-repeat;
	}
  .titlebar{
    margin-bottom: 2px;
  }
	.cp-background{
		opacity: 1;
		background-color: rgba(120,120,120,.6);
	}
	.cp-background:hover{
		opacity: 1;
		background-color: rgba(120,120,120,.6);
	}
	.cp-mobile-nav{
		background-color: rgba(50,100,120,.80);
	}
	.cp-mobile-nav.new-message{
		background-color: #00A6A0;
	}
	.touch-toggle{
		position: absolute;	
		width: 50px;	
		height: 50px;	
		top:0;
    z-index: 21;
		span{
			color:white;
			font-size: 	20px;
			top: 50%;
		  left: 50%;
		  position: absolute;
		  transform: translate(-50%,-50%);
		}
	}
	#touch-users-toggle{
		display: inline;	
		left: 0px;	
	}
  #touch-users-logout{
    display: inline; 
    right: 37px;  
  }
	#touch-chats-toggle{
		display: inline;	
		right: 0px;	
	}
	#touch-login{
		display: inline;	
		right: 0;	
	}
  #brand{
  	-webkit-border-radius: 0;
  	        border-radius: 0;
    height: 50px;
    right: 0;
    left: 0;
    top:0;
    text-align: left;
    width:inherit;
    padding: 0;
    margin: 0;		
    #logo{
   		margin: 4px 0 0 50px;	
    	font-size: 	22px;
    	line-height: 44px;
    }
  }
  #brand.cp-background{
  	background-color: rgba(50,100,120,.80);
  }
  #header{
  	display: none;
  }
  #greeting{
  	right:93px;
  	top:10px;
  	img{
  		width:30px;
  		height:30px
  	}
  	span{
  		font-size: 16px;
  	}
  }

// *************** CHAT AND USERS *************** //
  #panel-left-users-outer{
  	position: fixed;	
  	top:52px;
  	bottom:156px;
  }
  .panel-users,
  .panel-left-chats{
  	right:0
  }
  .panel-left-chats-outer{
  	position: fixed;		
  }
  .chat-search-form{
  	position: fixed;
  	bottom: 3px;
  }
  .left-panel{
  	left:-200px;
  	-webkit-transition: .5s left ease;
  	   -moz-transition: .5s left ease;
  	    -ms-transition: .5s left ease;
  	     -o-transition: .5s left ease;
  	        transition: .5s left ease;  
  }
  .open-users-panel{
  	left:3px;
  	-webkit-transition: .5s left ease;
  	   -moz-transition: .5s left ease;
  	    -ms-transition: .5s left ease;
  	     -o-transition: .5s left ease;
  	        transition: .5s left ease;
  }
  .left-panel.open-chats-panel{
  	left:-503px;
  	-webkit-transition: .5s left ease;
  	   -moz-transition: .5s left ease;
  	    -ms-transition: .5s left ease;
  	     -o-transition: .5s left ease;
  	        transition: .5s left ease;
  }
  #panel-right{
  	right:0;
  }
	.chat-box-outer{
		height:300px;
		background-color: rgba(200,200,200,.5);
	}
  .panel-right-outer{
  	top:52px;
  	bottom:41px;
  	position: fixed;	
  }
  .new-chat{
  	position: fixed;
  	bottom: 3px;	
  }
  .right-panel{
  	right:-300px;
  	-webkit-transition: .5s right ease;
  	   -moz-transition: .5s right ease;
  	    -ms-transition: .5s right ease;
  	     -o-transition: .5s right ease;
  	        transition: .5s right ease;
  }
  .open-chats-panel{
  	right:3px;
  	-webkit-transition: .5s right ease;
  	   -moz-transition: .5s right ease;
  	    -ms-transition: .5s right ease;
  	     -o-transition: .5s right ease;
  	        transition: .5s right ease;
  }
	.right-panel.open-user-panel{
  	right:-503px;
  	-webkit-transition: .5s right ease;
  	   -moz-transition: .5s right ease;
  	    -ms-transition: .5s right ease;
  	     -o-transition: .5s right ease;
  	        transition: .5s right ease;
  }
  #content{
  	position: fixed;	
  	top:52px;
  	left:3px;
  	right:3px;
  	bottom: 3px;
  	-webkit-border-radius: 	0 0 10px 10px;
  	        border-radius: 	0 0 10px 10px;
  	-webkit-transition: .5s all ease;
  	   -moz-transition: .5s all ease;
  	    -ms-transition: .5s all ease;
  	     -o-transition: .5s all ease;
  	        transition: .5s all ease;
  }
  .open-users #content{
  	left:205px;
  	right:-200px;
  	-webkit-border-radius: 	0;
  	        border-radius: 	0;
  }
  .open-chats #content{
		right:305px;
		left:-300px;
		-webkit-border-radius: 	0;
		        border-radius: 	0;
	}
  #scene{
    display: none;
  }

  .modal.center .modal-dialog{
    max-width:510px;
    width:100%;
    margin:10% 0;
  }

  .add-user-modal{
    width:100%;
    max-width:510px;
    padding: 1% 3%;
    .add-user-panel{
      width:42%;
    }
  }

  #panel-right-add{
    right:1%;
  }
  
  #panel-left-add{
    left:1%;
  }

  #transfer-users span{
    font-size: 50px;  
  }

}