$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Partial Imports
@import "variables";
@import "mixins";
@import "functions";
@import "touchscreen";
@import "navigation";
@import "chat";
@import "animations";
@import "mobile";
@import "game-dash";


*{
  h1,h2,h3,h4,h5,h6{
    font-family: 'Asap',tahoma;
    margin:5px 0 10px 0;
  }
  font-family: 'Dosis',sans-serif;
  font-size: 18px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  -ms-overflow: hidden;
      overflow: hidden;
      background-color: #ddd;
  a:hover, a:focus{
    text-decoration: none;
    outline:none;
  }
}

.clearfix{
  clear:both;
}

#fore{
  z-index:20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#greeting{
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 105;
  // background-color: rgba(200,200,200,.3);
  span{
    font-size: 20px;
    // padding: 0 3px 0 8px;
  }
  img{
    width:37px;
    height:37px;
    // border-left: 2px solid white;
    margin-top: -7px;
    margin-left: 1px;
  }
  a{
    color:#444;
    line-height: 36px;
  }
  a:hover,a:active{
    color:black;
  }
}

#content{
  color:black;
  position: absolute;
  top: 5px;
  left: 211px;
  right: 311px;
  bottom:6px;
  overflow:hidden;
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}

.main-content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; /* Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

#landing{
  text-align:center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.center-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cp-background{
  background-color: #FFF;
  @include card(1);
}

.cp-background-dark{
  opacity:1;
  background-color: rgba(100,100,100,.85);
}

.left-text{
  color:$left-panel-color;
  &:hover{
    color:$left-panel-hover;
  }
}

.right-text{
  color:$right-panel-color;
  &:hover{
    color:$right-panel-hover;
  }
}

.content-container{
  width:100%;
  max-width:960px;
  margin: 0 auto;
}

div.online{
  border-bottom:3px solid #43A047;
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
}
div.idle{
  border-bottom:3px solid #FFCA28;
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
}
div.offline{
  border-bottom:3px solid #B71C1C;
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
}
.users{
  .offline,.idle,.online{
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}
img.idle{
  -webkit-filter: grayscale(50%);
  filter: gray;
  filter: grayscale(50%);
  // filter: url(../style/desaturate.svg#grayscale);
}
img.offline{
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
  // filter: url(../style/desaturate.svg#grayscale);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.btn{
  font-size: 20px;
}

.btn-facebook{
  background-color:#3B5998;
  border:1px solid #3B5998;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.modal-content{
  background-color: #eee;
  color:$right-panel-color;
  .modal-header{
    border-bottom: 2px solid $right-panel-color;
    padding:10px;
    .close{
      opacity:.5;
      margin-top: -4px;
      text-shadow: none;
      span{
        color:$right-panel-color;
        font-size: 34px;
      }
    }
  }
  .modal-body{
    p{
      margin: 5px;
    }
  }
  #panel-left-add{
    .panel-users{
      top:35px;
    }
  }
  #panel-right-add{
    .panel-users{
      top:0;
    }
  }
  .modal-footer{
    border-top: 2px solid $right-panel-color;
    padding:10px;
  }
}

.highlight{
  background-color: $right-panel-color !important;
  color:white;
  .timestamp{
    color:white;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


// $delay:15s;
// $anim-length:105s;
// #scene{
//   position: absolute;
//   top:0;
//   left:0;
//   right:0;
//   bottom:0;
//   padding: 0;
//   z-index: -10;
// }


// #scene .layer{
//   list-style:none;
//   width:100%;
//   height:100%;
// }
// .layer div{
//   opacity:0;
//   height:1500px;
//   width:750px;
//   position: absolute;
//   z-index:12;
// }
// .layer-1{
//   background-color: #0288D1;
//   top:90%;
//   left:-10%;
//   animation:fade-left-top $anim-length ease-out infinite;
// }
// .layer-2{
//   background-color: #2196F3;
//   top:90%;
//   right:-10%;
//   animation:fade-right-top $anim-length ease-out infinite;
//   animation-delay: $delay;
// }
// .layer-3{
//   background-color: #03A9F4;
//   bottom:90%;
//   right:-10%;
//   animation:fade-right-bot $anim-length ease-out infinite;
// }
// .layer-4{
//   background-color: #00BCD4;
//   bottom:90%;
//   left:-10%;
//   animation:fade-left-bot $anim-length ease-out infinite;
//   animation-delay: $delay*2;
// }
// .layer-5{
//   background-color: #009688;
//   top:90%;
//   left:-10%;
//   animation:fade-left-top $anim-length ease-out infinite;
//   animation-delay: $delay*3;
// }
// .layer-6{
//   background-color: #00C853;
//   top:90%;
//   right:-10%;
//   animation:fade-right-top $anim-length ease-out infinite;
//   animation-delay: $delay*4;
// }
// .layer-7{
//   background-color: #303F9F;
//   bottom:90%;
//   right:-10%;
//   animation:fade-right-bot $anim-length ease-out infinite;
//   animation-delay: $delay*5;
// }
// .layer-8{
//   background-color: #1976D2;
//   bottom:90%;
//   left:-10%;
//   animation:fade-left-bot $anim-length ease-out infinite;
//   animation-delay: $delay*6;
// }
// .layer-9{
//   background-color: #3F51B5;
//   top:90%;
//   left:-10%;
//   animation:fade-left-top $anim-length ease-out infinite;
//   animation-delay: $delay*8;
// }
// .layer-10{
//   background-color: #0097A7;
//   top:90%;
//   right:-10%;
//   animation:fade-right-top $anim-length ease-out infinite;
//   animation-delay: $delay*9;
// }
// .layer-11{
//   background-color: #00796B;
//   bottom:90%;
//   right:-10%;
//   animation:fade-right-bot $anim-length ease-out infinite;
//   animation-delay: $delay*10;
// }
// .layer-12{
//   background-color: #00E676;
//   bottom:90%;
//   left:-10%;
//   animation:fade-left-bot $anim-length ease-out infinite;
//   animation-delay: $delay*11;
// }


