$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Partial Imports
@import "touchscreen";
@import "navigation";
@import "chat";
@import "animations";
@import "mobile";


*{
  h1,h2,h3,h4,h5,h6{
    font-family: 'Asap',tahoma;
    margin:5px 0 10px 0;
  }
  font-family: 'Dosis',sans-serif;
  font-size: 18px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  -ms-overflow: hidden;
      overflow: hidden;
      background-color: #ddd;
  a:hover, a:focus{
    text-decoration: none;
    outline:none;
  }
}

.clearfix{
  clear:both;
}

#fore{
  z-index:20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#greeting{
  position: absolute;
  right: 316px;
  top: 11px;
  z-index: 21;
  span{
    font-size: 20px;
    vertical-align: middle;
  }
  img{
    width:32px;
    margin-left: 2px;
  }
  a{
    color:#eee;
  }
  a:hover,a:active{
    color:black;
  }
}

#content{
  color:white;
  position: absolute;
  top: 5px;
  left: 208px;
  right: 308px;
  bottom:5px;
  overflow:hidden;
  padding:10px;
}

.main-content{
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 10px;
  right: -17px; /* Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

.cp-background{
  opacity:.80;
  background-color: rgba(100,100,100,.7);
  // -webkit-border-radius: 3px;
  //         border-radius: 3px;
  -webkit-transition: background-color .3s, opacity .3s;
     -moz-transition: background-color .3s, opacity .3s;
      -ms-transition: background-color .3s, opacity .3s;
       -o-transition: background-color .3s, opacity .3s;
          transition: background-color .3s, opacity .3s;
}

.cp-background:hover{
  opacity:1;
  background-color: rgba(100,100,100,.85);
}

.cp-background-dark{
  opacity:1;
  background-color: rgba(100,100,100,.85);
}

.content-container{
  width:100%;
  max-width:960px;
  margin: 0 auto;
}

div.online{
  border-bottom:4px solid #43A047;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
div.idle{
  border-bottom:4px solid #FFCA28;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
div.offline{
  border-bottom:4px solid #B71C1C;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
img.idle{
  -webkit-filter: grayscale(50%);
  filter: gray;
  filter: grayscale(50%);
  // filter: url(../style/desaturate.svg#grayscale);
}
img.offline{
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
  // filter: url(../style/desaturate.svg#grayscale);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.btn{
  font-size: 20px;
}

.btn-facebook{
  background-color:#3B5998;
  border:1px solid #3B5998;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


$delay:15s;
$anim-length:105s;
#scene{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding: 0;
  z-index: -10;
}


#scene .layer{
  list-style:none;
  width:100%;
  height:100%;
}
.layer div{
  opacity:0;
  height:1500px;
  width:750px;
  position: absolute;
  z-index:12;
}
.layer-1{
  background-color: #0288D1;
  top:90%;
  left:-10%;
  animation:fade-left-top $anim-length ease-out infinite;
}
.layer-2{
  background-color: #2196F3;
  top:90%;
  right:-10%;
  animation:fade-right-top $anim-length ease-out infinite;
  animation-delay: $delay;
}
.layer-3{
  background-color: #03A9F4;
  bottom:90%;
  right:-10%;
  animation:fade-right-bot $anim-length ease-out infinite;
}
.layer-4{
  background-color: #00BCD4;
  bottom:90%;
  left:-10%;
  animation:fade-left-bot $anim-length ease-out infinite;
  animation-delay: $delay*2;
}
.layer-5{
  background-color: #009688;
  top:90%;
  left:-10%;
  animation:fade-left-top $anim-length ease-out infinite;
  animation-delay: $delay*3;
}
.layer-6{
  background-color: #00C853;
  top:90%;
  right:-10%;
  animation:fade-right-top $anim-length ease-out infinite;
  animation-delay: $delay*4;
}
.layer-7{
  background-color: #303F9F;
  bottom:90%;
  right:-10%;
  animation:fade-right-bot $anim-length ease-out infinite;
  animation-delay: $delay*5;
}
.layer-8{
  background-color: #1976D2;
  bottom:90%;
  left:-10%;
  animation:fade-left-bot $anim-length ease-out infinite;
  animation-delay: $delay*6;
}
// .layer-9{
//   background-color: #3F51B5;
//   top:90%;
//   left:-10%;
//   animation:fade-left-top $anim-length ease-out infinite;
//   animation-delay: $delay*8;
// }
// .layer-10{
//   background-color: #0097A7;
//   top:90%;
//   right:-10%;
//   animation:fade-right-top $anim-length ease-out infinite;
//   animation-delay: $delay*9;
// }
// .layer-11{
//   background-color: #00796B;
//   bottom:90%;
//   right:-10%;
//   animation:fade-right-bot $anim-length ease-out infinite;
//   animation-delay: $delay*10;
// }
// .layer-12{
//   background-color: #00E676;
//   bottom:90%;
//   left:-10%;
//   animation:fade-left-bot $anim-length ease-out infinite;
//   animation-delay: $delay*11;
// }


