// Variables
$panel-control-bg-color:#ccc;
$panel-bg-color:#536896;

$panel-left-width:200px;
$chat-width:300px;
$chat-closed-width:300px;

$chat-input-height:38px;
$chat-box-height:320px;

.panel-left-chats-outer{	
	position: absolute;
	width:$panel-left-width;
	left:5px;
	bottom:42px;
	height:112px;
	overflow: hidden;
}

.panel-left-chats{
	position: absolute;
	top: 0px;
	left:0px;
	bottom:0px;
	right: -17px;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
	-ms-overflow-y: scroll;
	    overflow-y: scroll;
	p{
		margin:0;
		color:white;
	}
	.chat-control{
		width:100%;
		cursor: pointer;
		margin-bottom: 3px;
		height:35px;
		padding-left: 5px;
		line-height: 31px;
		span{
			padding: 5px;
		  font-size: 20px;
		  vertical-align: middle;
		  color:white;
		  margin-left: 0;
		  margin-top: 2px;
		}
	}
}

#panel-left-users-outer{	
	position: absolute;
	width:$panel-left-width;
	left:5px;
	top:109px;
	bottom:157px;
	overflow: hidden;
}

.panel-left-users{
	list-style: none;
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: -17px;
	margin: 0;
	padding: 0;
	-ms-overflow-y: scroll;
	    overflow-y: scroll;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
	.user-image{
		width:40px;
		display: inline-block;
	}
	.users{
		margin: 0;
		padding: 0;
		line-height:18px;
	  list-style:none;
	  box-sizing:border-box;
	  margin-bottom: 5px;
	  position: relative;
	}
	.user-info{
		display: inline-block;
		margin-left: 5px;
		vertical-align:middle;
	}
	.user-online,.idle{
		.user-info{
			color:white;
		}
	}
	.user-offline{
		.user-info{
			color:#ccc;
		}
	}
	.user-hover{
		cursor:pointer;
		position: absolute;
		right:10px;
		top:50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.timestamp{
		font-size: 13px;
		vertical-align: top;
		color:black;
	}
}

.search-form input{
	position: absolute;
	bottom:0;
	width:100%;
	padding:5px 10px;
	font-size: 18px;
	border:none;
	opacity: .85;
}
.user-search{
	color:#777;
}
.chat-search-form input{
	position: absolute;
	bottom:5px;
	left: 5px;
	width:200px;
	padding:5px 10px;
	font-size: 18px;
	border:none;
	-webkit-border-radius: 0 0 0 10px;
	        border-radius: 0 0 0 10px;
}
.chat-search{
	color:white;
	-webkit-border-radius: 0 0 0 10px;
	        border-radius: 0 0 0 10px;
}

.chat-search::-webkit-input-placeholder {
  color: #ddd;
}

.search-form .user-search:focus{
	// -webkit-border-radius: 0 0 4px 4px;
	//         border-radius: 0 0 4px 4px;
}

.search-icon{
	cursor:pointer;
	position: absolute;
	bottom: 4px;
	right: 5px;
	font-size: 22px;
	color:#444;
}

.middle-panel{
	width:53%;
	margin-left: 20%;
	padding:0 1%;
	color:white;
}

.panel-right-outer{
	position: absolute;
	right:5px;
	top:80px;
	width:300px;
	bottom:43px;
}

#panel-right{
	position: absolute;
	right:-17px;
	padding-top: 401px;
	top:0;
	bottom: 0;
	left: 0;
	-ms-overflow-y: auto;
	    overflow-y: auto;
	.chat-open{
		top:0px;
		position:absolute;
		.chat-control{
			opacity:1;
  		background-color: rgba(100,100,100,.85);
			margin-bottom: 0;
			border:none;
			// -webkit-border-radius: 2px 2px 0 0;
			//         border-radius: 2px 2px 0 0;
			border-bottom: 2px solid rgba(70,70,70,.30);
		}
		.fa-angle-up{
		  -webkit-transition: .3s ease all;
		     -moz-transition: .3s ease all;
		      -ms-transition: .3s ease all;
		       -o-transition: .3s ease all;
		          transition: .3s ease all;
			-webkit-transform: rotate(180deg);
			   -moz-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			     -o-transform: rotate(180deg);
			        transform: rotate(180deg);
		}
	
	}
	.new-message{
		.chat-control{
			background-color: #00A6A0;		
		}
	}
	// Chat Control Closed
	.chat-control{
		// -webkit-border-radius: 2px;
		//         border-radius: 2px;
		overflow: visible;
		width:$chat-closed-width;
		height:35px;
		cursor:pointer;
		position: relative;
		color:white;
		margin-bottom: 3px;
		span{
			padding:5px;
			font-size: 20px;
			vertical-align: middle;
			padding-right: 10px;
		}
		.chat-control-text{
			padding-left: 10px;
			padding-right: 4px;
			margin: 0;
			font-size: 20px;
			line-height: 33px;
		}
		img.chat-icon{
			width:24px;
			height:24px;
			margin-right: 3px;
		}
	}
}

.new-chat{
	position: absolute;
	text-align: center;
	bottom: 5px;
	right: 5px;
	width: 300px;
	height: 35px;
	padding-top: 5px;
	color:#fff;
	cursor:pointer;
	-webkit-border-radius: 0 0 10px 0;
	        border-radius: 0 0 10px 0;
}

.chat li{
	list-style:none;
	margin-top: 6px;
	margin-bottom: 32px;
}

.message-block{
	max-width:81%;
	display: inline-block;
	padding: 10px 15px;
  background-color: rgba(5,10,50,.4);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: relative;
  margin-left: 2%;
  border-right:2px solid #bbb;
  border-bottom: 2px solid #bbb;
  text-align: left;
  span{
  	color:white;
  }
}

.righttext .message-block{
  background-color: rgba(0,40,50,.4);
	border-right:none;
	border-left: 2px solid #bbb;
  margin-left: 0;
	margin-right: 2%;	
}

.user-image{
	width:15%;
	display: inline-block;
	position: relative;
	.avatar{
		width:100%;
		-webkit-border-radius: 4px 4px 0 0;
		        border-radius: 4px 4px 0 0;
	}
	.current-user-avatar{
		width:100%;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
	}
	.user-name{
		position: absolute;
		bottom: -26px;
		color: black;
		font-size: 15px;
		width:200px;
		margin: 0;
		span{
			color: black;
			font-size: 15px;
		}
	}
}

.righttext{
	text-align: right;
}

.message-block:before{
   content:"";
   position: absolute;
   right: 100%;
   bottom: 8px;
   width: 0;
   height: 0;
   border-top: 4px solid transparent;
   border-right: 8px solid rgba(5,10,50,.4);
   border-bottom: 4px solid transparent;
}

.righttext .message-block:before{
   content:"";
   position: absolute;
   left: 100%;
   bottom: 8px;
   width: 0;
   height: 0;
   border-top: 4px solid transparent;
   border-left: 8px solid rgba(0,40,50,.4);
   border-bottom: 4px solid transparent;
   border-right: none;
   
}

// .chat-closed{
// 	display: none;
// }

.chat-box-outer{
	position: relative;
	height:$chat-box-height;
	overflow: hidden;
}

.chat-box{
	padding: 10px 0px;
	position: absolute;
	left:0;
	top: 0;
	bottom: 0;
	right:-17px;
	overflow-y: scroll;
	overflow-x: hidden;
	// overflow: hidden;
	#messages{
		width:100%;
		position: relative;
		// right:-20px;
		padding:0 10px;
		margin: 0;
		// overflow-y:scroll;
	}
}


#chat-form{
	position: relative;
	margin-bottom: 3px;
	.chat-input{
		width:100%;
		color:#777;
		padding:5px 10px;
		font-size: 22px;
		border:none;
		opacity: .85;
		// -webkit-border-radius: 0 0 5px 0px;
		//         border-radius: 0 0 5px 0px;
	}
}

.touch{
	.chat-box{
		right:0;
	}
}

@media(max-width:768px){
	
}