#brand{
  width:300px;
  position: absolute;
  right:5px;
  top:5px;
  color:white;
  text-align: center;
  font-size: 40px;
  padding:5px 0 10px;
  height:72px;
  -webkit-border-radius: 0 10px 0 0;
          border-radius: 0 10px 0 0;
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
#brand:hover{
  color:#333;
}

#gamedash{
  -webkit-border-radius: 10px 0 0 0;
          border-radius: 10px 0 0 0;
  height:62px;
  width:200px;
}

/* Custom page header */
#header {
  /* Make the masthead heading the same height as the navigation */
  li {
    text-align: center;
    list-style:none;
  }

  li a{
    cursor:pointer;
    position: absolute;
    left: 5px;
    width:200px;
    padding-top: 11px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  a{
    color:white;
  	font-size: 24px;
    -webkit-transition: color .3s;
       -moz-transition: color .3s;
        -ms-transition: color .3s;
         -o-transition: color .3s;
            transition: color .3s;
  }
  a:hover{
    color:#000;
  }
  .cp-small-link{
    padding-top: 5px;
    width:98px;
    font-size: 15px;
    height:36px;
  }
}
