<div class="middle-panel">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="chatName" class="col-sm-3 control-label">Chat Room Name</label>
	    <div class="col-sm-9">
	    	<input id="chatName" required name="chatName" ng-model="chatName" class="form-control" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="description" class="col-sm-3 control-label">Description</label>
	    <div class="col-sm-9">
	    	<input id="description" required name="description" ng-model="description" class="form-control" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="pwProtected" class="col-sm-3 control-label">Password Protected?</label>
	    <div class="col-sm-1">
	    	<input id="pwProtected" name="pwProtected" type="checkbox" ng-model="pwProtected" class="form-control" />
	  	</div>
	  </div>
	  <div class="form-group" ng-if="pwProtected">
	    <label for="loginPass" class="col-sm-3 control-label">password</label>
	    <div class="col-sm-9">
	    	<input id="loginPass" name="password" type="password" ng-model="pass" class="form-control" />
	  	</div>
	  </div>
	  <div class="form-group" ng-if="pwProtected">
	    <label for="loginConfirm" class="col-sm-3 control-label">confirm pass</label>
	    <div class="col-sm-9">
	    	<input id="loginConfirm" name="confirm" type="password" ng-model="confirm" class="form-control" />
			</div>
	  </div>
	  <div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button class="btn btn-primary" ng-click="createChat(pass, confirm)" ng-hide="createMode">Create</button>
			</div>
		</div>
	</form>
</div>

<div class="panel-left">
	<div ng-repeat="chat in chats | reverse">
		<div class="chat-control" >
			<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{chat.description}}" aria-hidden="true"></span>
			<p>{{chat.name}}</p>
		</div>
	</div>
</div>

<div class="panel-right">
	<div ng-repeat="chat in chats">
		<div class="chat-control chat-{{$index}}" 
		ng-click="toggleChat($index);">
			<span class="glyphicon pull-right" aria-hidden="true"
			ng-class="{'glyphicon-menu-up':!openChats[$index].open,'glyphicon-minus':openChats[$index].open}"
			></span>
			<p>{{chat.name}}</p>
		</div>
		<div class="chat-body" ng-if="openChats[$index].open">
			<div id="chat-box">	
				<ul id="messages" class="chat">
				  <li ng-repeat="messageBlock in chat.messageBlocks" 
				  ng-class="{righttext:(messageBlock.userID != user.uid)}">
						<div class="user-image" ng-if="messageBlock.userID == user.uid">
					  	<img src="{{messageBlock.avatarURL}}" alt="{{messageBlock.userName}}" class="avatar" />
						</div>
						<div class="message-block">
					  	<span ng-repeat="message in messageBlock.messages">{{message.text}}<br/></span>
						</div>
						<div class="user-image" ng-if="messageBlock.userID != user.uid">
					  	<img src="{{messageBlock.avatarURL}}" alt="{{messageBlock.userName}}" class="avatar" />
						</div>
				  </li>
				</ul>
			</div>
			<form id="chat-form">
			  <input id="chat-input" placeholder="Message..." ng-model="newMessage">
			  <button type="submit" ng-click="addMessage(newMessage,chat,$index);newMessage = null;" style="display:none"></button>
			</form>
		</div>
	</div>
</div>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
