<div>
	<div class="titlebar">
		<p>What time is it? Game time...</p>
	</div>

	<div class="game-block">
		<button class="btn btn-info" ng-click="newGameModal.show()">New Game</button>
		<div ng-repeat="game in yahtzeeRooms" class="gameroom">
			<a href="#/yahtzee/{{game.$id}}">Yahtzee | Owner: {{game.owner}} | Name: {{game.name}}</a>
			<div class="join-game pull-right" ng-click="joinGame('yahtzeeRooms')">Join Game</div>
		</div>
	</div>













	<p class="alert alert-danger" ng-show="err">{{err}}</p>



	</div>
</div>