<div>
	<div class="titlebar">
		<p>What time is it? Game time... Start a 
			<span class="cp-button btn-left" ng-click="newGameModal.show()">New Game</span>
		</p>
	</div>

	<div class="game-block">
		<div ng-repeat="game in yahtzeeRooms" class="gameroom">
			<a href="#/yahtzee/{{game.$id}}">Yahtzee | Owner: {{game.owner}} | Name: {{game.name}}</a>
			<div class="cp-button btn-right pull-right" ng-click="joinGame('yahtzeeRooms')">Join Game</div>
		</div>
	</div>













	<p class="alert alert-danger" ng-show="err">{{err}}</p>



	</div>
</div>