<!-- <h2>Yahtzee</h2> -->

<div class="dice-container">
	<div ng-repeat="dye in yahtzeeScope.yahtzeeService.savedDice track by $index" class="dice saved-dice animate-repeat-dice"
	 ng-click="yahtzeeScope.yahtzeeService.unsaveDye(dye.$id,$index)">
		<div ng-if="dye.value==1">
			<div class="dye dice-{{dye.value}} one"></div>
		</div>
		<div ng-if="dye.value==2">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
		</div>
		<div ng-if="dye.value==3">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
			<div class="dye dice-{{dye.value}} three"></div>
		</div>
		<div ng-if="dye.value==4">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
			<div class="dye dice-{{dye.value}} three"></div>
			<div class="dye dice-{{dye.value}} four"></div>
		</div>
		<div ng-if="dye.value==5">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
			<div class="dye dice-{{dye.value}} three"></div>
			<div class="dye dice-{{dye.value}} four"></div>
			<div class="dye dice-{{dye.value}} five"></div>
		</div>
		<div ng-if="dye.value==6">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
			<div class="dye dice-{{dye.value}} three"></div>
			<div class="dye dice-{{dye.value}} four"></div>
			<div class="dye dice-{{dye.value}} five"></div>
			<div class="dye dice-{{dye.value}} six"></div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="roll-dice" ng-click="yahtzeeScope.yahtzeeService.rollDice();" ng-class="{'first-roll':yahtzeeScope.yahtzeeService.game.roll === 1}">
		<span ng-if="yahtzeeScope.yahtzeeService.game.roll === 1" class="first-roll">First Roll</span>
		<span ng-if="yahtzeeScope.yahtzeeService.game.roll === 2">Second Roll</span>
		<span ng-if="yahtzeeScope.yahtzeeService.game.roll === 3">Third Roll</span>
		<span ng-if="yahtzeeScope.yahtzeeService.game.roll === 4">Finish Turn</span>
	</div>

	<div ng-if="dye.value !== 0 && dye.value !== ''" ng-repeat="dye in yahtzeeScope.yahtzeeService.dice track by $index" class="dice animate-repeat-dice"
	 ng-click="yahtzeeScope.yahtzeeService.saveDye(dye.$id,$index)">
		<div ng-if="dye.value==1">
			<div class="dye dice-{{dye.value}} one"></div>
		</div>
		<div ng-if="dye.value==2">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
		</div>
		<div ng-if="dye.value==3">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
			<div class="dye dice-{{dye.value}} three"></div>
		</div>
		<div ng-if="dye.value==4">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
			<div class="dye dice-{{dye.value}} three"></div>
			<div class="dye dice-{{dye.value}} four"></div>
		</div>
		<div ng-if="dye.value==5">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
			<div class="dye dice-{{dye.value}} three"></div>
			<div class="dye dice-{{dye.value}} four"></div>
			<div class="dye dice-{{dye.value}} five"></div>
		</div>
		<div ng-if="dye.value==6">
			<div class="dye dice-{{dye.value}} one"></div>
			<div class="dye dice-{{dye.value}} two"></div>
			<div class="dye dice-{{dye.value}} three"></div>
			<div class="dye dice-{{dye.value}} four"></div>
			<div class="dye dice-{{dye.value}} five"></div>
			<div class="dye dice-{{dye.value}} six"></div>
		</div>
	</div>
</div>

<div class="scoreboard">
	<div class="ones" ng-click="yahtzeeScope.yahtzeeService.ones = yahtzeeScope.yahtzeeService.scoreCheck.diceTotal(1)" >Ones: {{yahtzeeScope.yahtzeeService.ones}}</div>
	<div class="twos" ng-click="yahtzeeScope.yahtzeeService.twos = yahtzeeScope.yahtzeeService.scoreCheck.diceTotal(2)" >Twos: {{yahtzeeScope.yahtzeeService.twos}}</div>
	<div class="threes" ng-click="yahtzeeScope.yahtzeeService.threes = yahtzeeScope.yahtzeeService.scoreCheck.diceTotal(3)" >Threes: {{yahtzeeScope.yahtzeeService.threes}}</div>
	<div class="fours" ng-click="yahtzeeScope.yahtzeeService.fours = yahtzeeScope.yahtzeeService.scoreCheck.diceTotal(4)" >Fours: {{yahtzeeScope.yahtzeeService.fours}}</div>
	<div class="fives" ng-click="yahtzeeScope.yahtzeeService.fives = yahtzeeScope.yahtzeeService.scoreCheck.diceTotal(5)" >Fives: {{yahtzeeScope.yahtzeeService.fives}}</div>
	<div class="sixes" ng-click="yahtzeeScope.yahtzeeService.sixes = yahtzeeScope.yahtzeeService.scoreCheck.diceTotal(6)" >Sixes: {{yahtzeeScope.yahtzeeService.sixes}}</div>
	<hr>
	<div ng-click="yahtzeeScope.yahtzeeService.threeKind = yahtzeeScope.yahtzeeService.scoreCheck.ofAKind(3)">Three of a Kind: {{yahtzeeScope.yahtzeeService.threeKind}}</div>
	<div ng-click="yahtzeeScope.yahtzeeService.fourKind = yahtzeeScope.yahtzeeService.scoreCheck.ofAKind(4)">Four of a Kind: {{yahtzeeScope.yahtzeeService.fourKind}}</div>
	<div ng-click="yahtzeeScope.yahtzeeService.smallStraight = yahtzeeScope.yahtzeeService.scoreCheck.smallStraight()">Small Straight: {{yahtzeeScope.yahtzeeService.smallStraight}}</div>
	<div ng-click="yahtzeeScope.yahtzeeService.largeStraight = yahtzeeScope.yahtzeeService.scoreCheck.largeStraight()">Large Straight: {{yahtzeeScope.yahtzeeService.largeStraight}}</div>
	<div ng-click="yahtzeeScope.yahtzeeService.fullHouse = yahtzeeScope.yahtzeeService.scoreCheck.fullHouse()">Full House: {{yahtzeeScope.yahtzeeService.fullHouse}}</div>
	<div ng-click="yahtzeeScope.yahtzeeService.yahtzee = yahtzeeScope.yahtzeeService.scoreCheck.yahtzee()">Yahtzee: {{yahtzeeScope.yahtzeeService.yahtzee}}</div>
	<div ng-click="yahtzeeScope.yahtzeeService.chance = yahtzeeScope.yahtzeeService.scoreCheck.diceTotal()">Chance: {{yahtzeeScope.yahtzeeService.chance}}</div>
</div>



